body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Background color */
}

header {
  background-color: #333; /* Header background color */
  color: #fff; /* Header text color */
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

select {
  font-family: 'Times New Roman', Times, serif; /* Change font family */
  font-size: 16px; /* Change font size */
  padding: 6px; /* Increase padding */
  width: 10%; /* Adjusted width */
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Align items at the center of the main axis */
}

.product {
  width: 250px; /* Increased width */
  height: auto; /* Auto height */
  margin: 20px;
  padding: 20px;
  background-color: #fff; /* Product background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center; /* Center align text */
  overflow: hidden; /* Hide overflow */
}

.product img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.product h2 {
  margin-top: 0;
}

.product p {
  margin-top: 10px;
  max-height: 100px; /* Set maximum height for the product description */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Show ellipsis (...) for overflowed text */
}
